<launch>
  <arg name="input_objects"
       default="/perception/object_recognition/detection/objects"/>
  <arg name="output_objects"
       default="/perception/object_recognition/tracking/objects"/>
  <arg name="world_frame_id" default="map"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="canonicalize_vehicle_orientation_to_motion" default="true"/>
  <arg name="orientation_canonicalization_min_speed_mps" default="1.0"/>
  <arg name="orientation_flip_enter_error_deg" default="100.0"/>
  <arg name="orientation_flip_exit_error_deg" default="80.0"/>
  <arg name="compensate_output_to_current_time" default="false"/>
  <arg name="maximum_output_compensation_sec" default="0.25"/>
  <arg name="fixed_output_rate_hz" default="0.0"/>
  <arg name="maximum_fixed_output_prediction_age_sec" default="0.25"/>
  <arg name="detection_velocity_fusion_mode" default="0"/>
  <arg name="detection_velocity_noise_std_mps" default="1.0"/>

  <rosparam file="$(find ekf_multi_object_tracking)/config/config.yaml" command="load"/>
  <param name="configure/canonicalize_vehicle_orientation_to_motion"
         value="$(arg canonicalize_vehicle_orientation_to_motion)"/>
  <param name="configure/orientation_canonicalization_min_speed_mps"
         value="$(arg orientation_canonicalization_min_speed_mps)"/>
  <param name="configure/orientation_flip_enter_error_deg"
         value="$(arg orientation_flip_enter_error_deg)"/>
  <param name="configure/orientation_flip_exit_error_deg"
         value="$(arg orientation_flip_exit_error_deg)"/>
  <param name="configure/compensate_output_to_current_time"
         value="$(arg compensate_output_to_current_time)"/>
  <param name="configure/maximum_output_compensation_sec"
         value="$(arg maximum_output_compensation_sec)"/>
  <param name="configure/fixed_output_rate_hz"
         value="$(arg fixed_output_rate_hz)"/>
  <param name="configure/maximum_fixed_output_prediction_age_sec"
         value="$(arg maximum_fixed_output_prediction_age_sec)"/>
  <param name="configure/detection_velocity_fusion_mode"
         value="$(arg detection_velocity_fusion_mode)"/>
  <param name="configure/detection_velocity_noise_std_mps"
         value="$(arg detection_velocity_noise_std_mps)"/>
  <param name="use_sim_time" value="$(arg use_sim_time)" />
  <node pkg="ekf_multi_object_tracking"
        type="ekf_multi_object_tracking"
        name="ekf_multi_object_tracking"
        output="screen"
        respawn="false">
    <param name="world_frame_id" value="$(arg world_frame_id)"/>
    <remap from="~input/objects" to="$(arg input_objects)"/>
    <remap from="~output/objects" to="$(arg output_objects)"/>
  </node>
</launch>
