<launch>
  <arg name="input_objects"
       default="/perception/object_recognition/detection/objects"/>
  <arg name="output_objects"
       default="/perception/object_recognition/tracking/objects"/>
  <arg name="world_frame_id" default="map"/>
  <arg name="use_sim_time" default="false"/>

  <rosparam file="$(find ekf_multi_object_tracking)/config/config.yaml" command="load"/>   
  <param name="use_sim_time" value="$(arg use_sim_time)" />
  <node pkg="ekf_multi_object_tracking"
        type="ekf_multi_object_tracking"
        name="ekf_multi_object_tracking"
        output="screen"
        respawn="false">
    <param name="world_frame_id" value="$(arg world_frame_id)"/>
    <remap from="~input/objects" to="$(arg input_objects)"/>
    <remap from="~output/objects" to="$(arg output_objects)"/>
  </node>
</launch>
